@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

:root{
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --background : #282828;  
  --border : #434343;  
  --text-color:#fff;
  --text-color-2:#B0B0B0;
  --text-color-3:#BEBEBE;
  --text-color-4:#636363;
  --text-color-5: #A7A7A7;
  --btn-color : #F04545;
  --font-regular : 400;
  --font-heading : 2.81vw;
  --font-title : 2.1vw;
  --font-search : 1.8vw;
  --font-body : 1.125rem;
}
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  background-color: var(--background);
  color: var(--text-color);
  transition: 0.21s;
  transition-timing-function: ease-in;
  font-weight: 400;
}
body{
  overflow-x: hidden!important;
  font-size:16px;
}
li,a{
  text-decoration: none;
  list-style: none;
}
.container{
  width: 90vw;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* padding: 0 6vw; */
}